<section id="inicio" class="hero-section">

  <!-- Lightning Background -->
<app-lightning-bg></app-lightning-bg>


  <!-- Black gradient overlay -->
  <div class="overlay"></div>

  <!-- Main Content -->
  <div class="hero-content">
    <h1 class="title">Elite Barbería</h1>

    <p class="subtitle">
      Estilo premium, precisión y experiencia de alto nivel<br />
      en el corazón de Tegucigalpa
    </p>

    <div class="buttons">
      
      <!-- WhatsApp Button -->
      <a
        class="btn-primary"
        target="_blank"
        href="https://wa.me/50431420427?text=Hola%20quiero%20reservar%20una%20cita%20en%20Elite%20Barber%C3%ADa"
      >
        Reservar Ahora
      </a>

      <!-- Scroll Button -->
      <a href="#servicios" class="btn-outline">
        Ver Servicios
      </a>
    </div>
  </div>

</section>
