<div class="overlay" *ngIf="isVisible">
  <div class="popup">

    <button class="close" (click)="close()">×</button>

    <h1>ELITE BARBERÍA</h1>
    <p class="subtitle">YA ABRIMOS · ESTILO · CLASE</p>

    <div class="divider"></div>

    <p class="desc">
      Corte premium y barba detallada.<br>
      Atención de alto nivel.
    </p>

<button class="cta" (click)="goToReserva()">
  Reservar por WhatsApp
</button>


    <p class="foot">
      Pagos: Efectivo · Transferencias BAC
    </p>

  </div>
</div>
